
#formulario{
    margin-top: 300px;
}
body{
   background-color: white;
  
}

.top-40{
   top: 40% !important;
}

.top-80{
   top: 40% !important;
}

#video-background{
    margin-top: -110px;
}

#simbolo1{
    margin-top: 240px;
}

@font-face {
    font-family: 'callison';
    src: url('assets/fonts/CaslonAntique-Bold.ttf') format('woff2')
    }

nav{
    font-family: 'callison', sans-serif;
    font-size: 20;
}