
#formulario{
    margin-top: 300px;
}
body{
   background-color: white;
  
   
}

.top-40{
   top: 40% !important;
}

.top-80{
   top: 40% !important;
}

#video-background{
    margin-top: -110px;
}

#simbolo1{
    margin-top: 115px;
}

@font-face {
    font-family: 'callison';
    src: url('assets/fonts/CaslonAntique-Bold.ttf') format('woff2')
    }

nav{
    font-family: 'callison', sans-serif;
    font-size: 20;
}
p{
    font-family: 'callison', sans-serif;

}


.login-box {
    position: relative;
    z-index: 9999;
}

.login-area {
    position: relative;
    height: 100vh;
    background: #f5f5f5;
    z-index: 10
}

.bg-layer {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
}


.img1 {
    background-image: url("assets/images/imagem-entrada.jpg");
    width: 850;
    height: 850;
    top: 30;
    left: 50px;
     z-index: 1;
}


    
.img2 {
    background-image: url("assets/images/img-3.png");
    width: 1200;
    height: 990px;
    top: 10px;
    left: 30;
     z-index: 1;
}

.img3 {
    background-image: url("assets/images/imagem-cavalo.jpg");
    width: 480px;
    height: 500px;
    top: 470px;
    left: 90px;
     z-index: 1;
}

.img4 {
    position: absolute;
       right: 0;
    bottom: 0vh;
    width: 85vw;
    max-width: 1000vw;
    height: auto;
    object-fit: contain;
    pointer-events: none;
     z-index: 1;
}


.img5 {
    background-image: url("assets/images/escrita.png");
    width: 400;
    height: 850;
    top: 700px;
    left: 750px;
     z-index: 1;
}

.img6 {
    background-image: url(assets/images/art-monstro.png);
    width: 520;
    height: 850;
    top: 590px;
    left: 1455px;
     z-index: 1;
}
#container-login {
    position: relative;
    z-index: 1000; 
}
#video-background {
    width: 100%;
    height: 100vh;
    object-fit: cover;

    -webkit-mask-image: linear-gradient(
        to bottom,
        white 0%,
        white 85%,
        transparent 100%
    );

    mask-image: linear-gradient(
        to bottom,
        white 0%,
        white 85%,
        transparent 100%
    );
}

.mascara {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;

    background: 
        linear-gradient(to bottom, transparent, white),
        url("assets/images/simbolo-branco.png");

    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover, contain;

    pointer-events: none;
}

.fs-10{
    font-size: 20px;
}